/CardioSportWeb/nbproject/private/
/CardioSportCore/nbproject/private/
/CardioSportEE/nbproject/private/
/CardioSportCore/build/
/CardioSportWeb/build/
/CardioSportEE/build/
/CardioSportWeb/dist/
/CardioSportCore/dist/
/CardioSportEE/dist/
/CardioSportWeb/web/res/Files/.quarantine/
/CardioSportWeb/web/res/Files/.tmb/